Repository donovanallen/scilent-x: changes, and which Codecov flags are due for each by the changed paths.
All: social, scilent-ui, ui

fix(db): use direct connection for Prisma CLI and add connectivity check
  .changeset/verify-beta-database.md
  .gitignore
  packages/db/prisma.config.ts
  packages/db/scripts/verify-prisma.ts
Due: none

fix(deploy): run production database migrations
  apps/web/vercel.json
  turbo.json
Due: none

fix(social): use server-safe HTML sanitizer
  .changeset/fix-server-html-sanitizer.md
  packages/social/package.json
  packages/social/src/utils/__tests__/sanitize.test.ts
  packages/social/src/utils/sanitize.ts
  pnpm-lock.yaml
Due: social

chore(agents): install emilkowalski/skills design & motion skills
  .cursor/skills/animation-vocabulary/SKILL.md
  .cursor/skills/apple-design/SKILL.md
  .cursor/skills/emil-design-eng/SKILL.md
  .cursor/skills/find-animation-opportunities/SKILL.md
  .cursor/skills/improve-animations/AUDIT.md
  .cursor/skills/improve-animations/PLAN-TEMPLATE.md
  .cursor/skills/improve-animations/SKILL.md
  .cursor/skills/review-animations/SKILL.md
  .cursor/skills/review-animations/STANDARDS.md
  AGENTS.md
  docs/AGENT_TOOLING.md
Due: none

feat(ui): apply find-animation-opportunities findings to like button and Empty
  .changeset/add-motion-design-skills.md
  packages/ui/src/components/empty.tsx
  packages/ui/src/components/social/comment-card.tsx
  packages/ui/src/components/social/post-card.tsx
  packages/ui/src/globals.css
Due: ui

fix(social): preserve h1–h3 tags in post HTML sanitization
  .changeset/preserve-post-heading-tags.md
  packages/social/src/utils/__tests__/sanitize.test.ts
  packages/social/src/utils/sanitize.ts
Due: social

docs: add dogfood checklist for reviews and posts
  docs/DOGFOOD_REVIEWS.md
Due: none

feat(db): seed production admin via env credentials
  .changeset/prod-admin-seed.md
  apps/web/.env.example
  docs/AUTH.md
  docs/DEPLOYMENT.md
  packages/db/.env.example
  packages/db/README.md
  packages/db/prisma/seed.ts
Due: none

chore(turbo): declare DSP and admin env vars for build cache
  turbo.json
Due: none

Install Vercel Web Analytics
  apps/web/package.json
  apps/web/src/app/layout.tsx
  pnpm-lock.yaml
Due: none

Path conditions:
  social: any of: packages/social/, but not: **/*.test.ts, **/*.stories.tsx, **/node_modules/**, **/__tests__/**, **/coverage/**
  scilent-ui: any of: packages/scilent-ui/, but not: **/*.test.ts, **/*.stories.tsx, **/node_modules/**, **/__tests__/**, **/coverage/**
  ui: any of: packages/ui/, but not: **/*.test.ts, **/*.stories.tsx, **/node_modules/**, **/__tests__/**, **/coverage/**
