Repository donovanallen/scilent-x: changes, and which Codecov flags are due for each by the changed paths.
All: social, scilent-ui, ui

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecov-yaml

# Coverage thresholds (commented out for now)
# Uncomment and adjust once baseline coverage is established
# coverage:
#   status:
#     project:
#       default:
#         # Require coverage to not drop below this percentage
#         target: 70%
#         # Allow coverage to drop by this amount without failing
#         threshold: 2%
#     patch:
#       default:
#         # Require new code to have at least this coverage
#         target: 80%

# Comment configuration for PR comments
comment:
  # Post a coverage comment on PRs
  layout: 'reach,diff,flags,files'
  behavior: default
  require_changes: true  # Only comment when coverage changes

# Flags for grouping coverage by package
flags:
  social:
    paths:
      - packages/social/
    carryforward: true
  scilent-ui:
    paths:
      - packages/scilent-ui/
    carryforward: true
  ui:
    paths:
      - packages/ui/
    carryforward: true
  # Future: Add more packages as they get tests
  # harmony-engine:
  #   paths:
  #     - packages/harmony-engine/
  #   carryforward: true

# Ignore certain paths from coverage
ignore:
  - '**/*.test.ts'
  - '**/*.stories.tsx'
  - '**/node_modules/**'
  - '**/__tests__/**'
  - '**/coverage/**'

# Parsers configuration
parsers:
  javascript:
    enable_partials: true

chore(cursor): add plans for composer hint, tags toolbar, and review visibility
  .cursor/plans/composer_hint_component_047ba216.plan.md
  .cursor/plans/review_tags_toolbar_e93a9887.plan.md
  .cursor/plans/review_visibility_toggle_1c3b143c.plan.md
Due: none

feat(ui): add secondaryToolbar and onMentionsChange to editor
  packages/ui/src/components/social/post-form.tsx
  packages/ui/src/components/tiptap-editor.tsx
  packages/ui/src/index.ts
Due: ui

feat(scilent-ui): add review tags toolbar
  .changeset/review-tags-toolbar.md
  packages/scilent-ui/src/components/review/ReviewComposer.tsx
  packages/scilent-ui/src/components/review/ReviewTagsToolbar.tsx
  packages/scilent-ui/src/components/review/index.ts
Due: scilent-ui

feat(ui): refine review visibility affordances
  packages/scilent-ui/src/components/review/ReviewCard.tsx
  packages/scilent-ui/src/components/review/ReviewComposer.tsx
  packages/ui/src/components/social/post-form.tsx
Due: scilent-ui, ui

feat(auth): seed mock users and enable admin impersonation
  .changeset/admin-impersonation-seed.md
  apps/web/.env.example
  apps/web/src/app/(authenticated)/admin/harmony/actions.ts
  apps/web/src/app/(authenticated)/admin/layout.tsx
  apps/web/src/app/(authenticated)/admin/users/_components/impersonate-user-button.tsx
  apps/web/src/app/(authenticated)/admin/users/actions.ts
  apps/web/src/app/(authenticated)/admin/users/page.tsx
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/components/impersonation-banner.tsx
  apps/web/src/components/sidebar-admin.tsx
  apps/web/src/lib/auth-client.ts
  apps/web/src/middleware.ts
  docs/AUTH.md
  packages/auth/package.json
  packages/auth/src/client.ts
  packages/auth/src/index.ts
  packages/auth/src/roles.ts
  packages/auth/src/server.ts
  packages/db/.env.example
  packages/db/README.md
  packages/db/package.json
  packages/db/prisma/generated/commonInputTypes.ts
  packages/db/prisma/generated/internal/class.ts
  packages/db/prisma/generated/internal/prismaNamespace.ts
  packages/db/prisma/generated/internal/prismaNamespaceBrowser.ts
  packages/db/prisma/generated/models/Account.ts
  packages/db/prisma/generated/models/Session.ts
  packages/db/prisma/generated/models/User.ts
  packages/db/prisma/migrations/20260714220000_add_admin_plugin_fields/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/prisma/seed.ts
  pnpm-lock.yaml
Due: none

fix(scilent-ui): use distinct track vs album artwork fallbacks
  .changeset/artwork-fallback-icons.md
  packages/scilent-ui/src/components/album/AlbumArtwork.tsx
  packages/scilent-ui/src/components/common/Artwork.stories.tsx
  packages/scilent-ui/src/components/common/Artwork.tsx
  packages/scilent-ui/src/components/common/index.ts
  packages/scilent-ui/src/components/review/ReviewCard.tsx
  packages/scilent-ui/src/components/review/ReviewSubjectPreview.tsx
  packages/scilent-ui/src/components/track/TrackArtwork.tsx
  packages/scilent-ui/src/index.ts
Due: scilent-ui

db(schema): add ProfileType enum and profileType field to User
  .changeset/add_profile_type.md
  packages/db/prisma/generated/commonInputTypes.ts
  packages/db/prisma/generated/enums.ts
  packages/db/prisma/generated/internal/class.ts
  packages/db/prisma/generated/internal/prismaNamespace.ts
  packages/db/prisma/generated/internal/prismaNamespaceBrowser.ts
  packages/db/prisma/generated/models/User.ts
  packages/db/prisma/migrations/20260714201000_add_profile_type/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/src/index.ts
Due: none

social: add profileType to UserProfile and all user queries/mutations
  .changeset/add_profile_type_social.md
  packages/social/src/types.ts
  packages/social/src/users/mutations.ts
  packages/social/src/users/queries.ts
Due: social

auth: add profileType to user.additionalFields as read-only
  .changeset/add_profile_type_auth.md
  packages/auth/src/server.ts
Due: none

ui: add profileType pill and badge to user components
  .changeset/add_profile_type_pill.md
  .changeset/add_profile_type_ui.md
  packages/scilent-ui/src/components/common/ProfileTypePill.tsx
  packages/scilent-ui/src/components/common/index.ts
  packages/scilent-ui/src/index.ts
  packages/ui/src/components/social/comment-card.tsx
  packages/ui/src/components/social/post-card.tsx
  packages/ui/src/components/social/profile-header.tsx
  packages/ui/src/components/social/user-avatar.tsx
  packages/ui/src/components/social/user-card.tsx
Due: scilent-ui, ui

web: add profileType to profile pages and settings
  apps/web/src/app/(authenticated)/profile/[username]/page.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
  apps/web/src/app/(authenticated)/settings/page.tsx
Due: none

admin: add profileType column and select control to admin/users
  apps/web/src/app/(authenticated)/admin/users/_components/profile-type-select.tsx
  apps/web/src/app/(authenticated)/admin/users/actions.ts
  apps/web/src/app/(authenticated)/admin/users/page.tsx
Due: none

feat(harmony-engine): capture artist images and preserve artwork across providers
  packages/harmony-engine/src/__tests__/artwork.test.ts
  packages/harmony-engine/src/__tests__/merger.test.ts
  packages/harmony-engine/src/__tests__/providers.test.ts
  packages/harmony-engine/src/harmonizer/merger.ts
  packages/harmony-engine/src/index.ts
  packages/harmony-engine/src/providers/apple-music.provider.ts
  packages/harmony-engine/src/providers/spotify.provider.ts
  packages/harmony-engine/src/providers/tidal.provider.ts
  packages/harmony-engine/src/types/harmonized.types.ts
  packages/harmony-engine/src/utils/artwork.ts
Due: none

feat(scilent-ui): render artist images and add Cover Art Archive artwork fallback
  packages/scilent-ui/src/components/album/AlbumCard.tsx
  packages/scilent-ui/src/components/album/AlbumDetails.tsx
  packages/scilent-ui/src/components/album/AlbumListItem.tsx
  packages/scilent-ui/src/components/artist/ArtistCard.tsx
  packages/scilent-ui/src/components/artist/ArtistHeader.tsx
  packages/scilent-ui/src/components/artist/ArtistListItem.tsx
  packages/scilent-ui/src/components/common/Artwork.tsx
  packages/scilent-ui/src/interactions/previews/AlbumHoverPreview.tsx
  packages/scilent-ui/src/interactions/previews/ArtistHoverPreview.tsx
  packages/scilent-ui/src/utils/format.ts
  packages/scilent-ui/src/utils/index.ts
Due: scilent-ui

feat(web): return artist image URLs from artist search API
  apps/web/src/app/api/v1/artists/search/route.ts
Due: none

chore(changeset): document artist/album image fixes
  .changeset/artist-album-images.md
Due: none

fix: add profileType to all author/sender/user selects in social package
  packages/social/src/comments/mutations.ts
  packages/social/src/comments/queries.ts
  packages/social/src/conversations/queries.ts
  packages/social/src/follows/queries.ts
  packages/social/src/messages/mutations.ts
  packages/social/src/messages/queries.ts
  packages/social/src/posts/includes.ts
  packages/social/src/posts/mutations.ts
  packages/social/src/users/mutations.ts
Due: social

chore: pin web TypeScript, bump ui jsdom, add agent skills
  .changeset/ui-jsdom-bump.md
  .cursor/settings.json
  .cursor/skills/responsive-testing/SKILL.md
  .cursor/skills/retro/SKILL.md
  .cursor/skills/retro/reference/canvas-output.md
  .cursor/skills/retro/scripts/collect-retro.mjs
  .gitignore
  apps/web/package.json
  apps/web/src/app/(authenticated)/admin/harmony/_components/provider-toggle.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Due: ui

feat(harmony-engine): derive track artwork from parent release
  packages/harmony-engine/src/__tests__/providers.test.ts
  packages/harmony-engine/src/providers/apple-music.provider.ts
  packages/harmony-engine/src/providers/spotify.provider.ts
  packages/harmony-engine/src/providers/tidal.provider.ts
  packages/harmony-engine/src/types/harmonized.types.ts
  packages/harmony-engine/src/types/index.ts
Due: none

feat(scilent-ui): render track artwork inherited from parent release
  packages/scilent-ui/src/components/review/MusicSubjectPicker.tsx
  packages/scilent-ui/src/components/track/TrackCard.tsx
  packages/scilent-ui/src/components/track/TrackDetails.tsx
  packages/scilent-ui/src/interactions/previews/TrackHoverPreview.tsx
Due: scilent-ui

feat(web): resolve track review artwork from harmonized track
  apps/web/src/lib/review-subject.ts
Due: none

chore(changeset): document track artwork inheritance
  .changeset/artist-album-images.md
Due: none

docs(plans): add production deployment prep plan
  .cursor/plans/production_deployment_prep_988afef6.plan.md
Due: none

fix: move ProfileTypePill to packages/ui to resolve circular dependency
  apps/web/src/app/(authenticated)/admin/users/_components/profile-type-select.tsx
  apps/web/src/app/(authenticated)/admin/users/actions.ts
  apps/web/src/app/(authenticated)/admin/users/page.tsx
  apps/web/src/app/(authenticated)/settings/page.tsx
  packages/scilent-ui/src/components/common/index.ts
  packages/scilent-ui/src/index.ts
  packages/ui/src/components/profile-type-pill.tsx
  packages/ui/src/components/social/comment-card.tsx
  packages/ui/src/components/social/post-card.tsx
  packages/ui/src/components/social/profile-header.tsx
  packages/ui/src/components/social/user-card.tsx
  packages/ui/src/index.ts
Due: scilent-ui, ui

feat(web): harden frontend for production readiness (WS1)
  .changeset/scilent-ui-next-image-artwork.md
  .cursor/plans/production_deployment_prep_988afef6.plan.md
  apps/web/.env.example
  apps/web/next.config.ts
  apps/web/src/app/(authenticated)/admin/actions.ts
  apps/web/src/app/(authenticated)/admin/db/actions.ts
  apps/web/src/app/(authenticated)/admin/db/page.tsx
  apps/web/src/app/(authenticated)/admin/harmony/actions.ts
  apps/web/src/app/(authenticated)/admin/users/actions.ts
  apps/web/src/app/(authenticated)/admin/users/page.tsx
  apps/web/src/app/(authenticated)/authenticated-shell.tsx
  apps/web/src/app/(authenticated)/error.tsx
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(authenticated)/loading.tsx
  apps/web/src/app/(authenticated)/profile/[username]/actions.ts
  apps/web/src/app/(authenticated)/settings/page.tsx
  apps/web/src/app/icon.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/robots.ts
  apps/web/src/app/sitemap.ts
  apps/web/src/components/app-sidebar.tsx
  apps/web/src/lib/__tests__/auth-guards.test.ts
  apps/web/src/lib/api-utils.ts
  apps/web/src/lib/auth-guards.ts
  apps/web/src/lib/logger.ts
  apps/web/src/lib/routes.ts
  apps/web/src/lib/site-url.ts
  apps/web/src/middleware.ts
  packages/scilent-ui/.storybook/main.ts
  packages/scilent-ui/.storybook/mocks/next-image.tsx
  packages/scilent-ui/package.json
  packages/scilent-ui/src/components/album/AlbumArtwork.tsx
  packages/scilent-ui/src/components/artist/ArtistCard.tsx
  packages/scilent-ui/src/components/artist/ArtistHeader.tsx
  packages/scilent-ui/src/components/common/Artwork.tsx
  pnpm-lock.yaml
Due: scilent-ui

fix(deps): regenerate pnpm-lock.yaml after merge
  pnpm-lock.yaml
Due: none

feat(web): add typed env validation for production readiness
  .cursor/plans/production_deployment_prep_988afef6.plan.md
  apps/web/.env.example
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/app/(authenticated)/admin/db/actions.ts
  apps/web/src/app/api/v1/apple-music/developer-token/route.ts
  apps/web/src/env.test.ts
  apps/web/src/env.ts
  apps/web/src/instrumentation.ts
  apps/web/src/lib/apple-music-developer-token.ts
  apps/web/src/lib/harmonization.ts
  apps/web/src/lib/site-url.ts
  docs/AUTH.md
  packages/auth/.env.example
  packages/db/.env.example
  pnpm-lock.yaml
Due: none

feat(auth): harden Better Auth and add production CI
  .changeset/auth-production-hardening.md
  .cursor/plans/production_deployment_prep_988afef6.plan.md
  .github/workflows/ci.yml
  .github/workflows/test.yml
  apps/web/.env.example
  apps/web/src/env.ts
  apps/web/vercel.json
  docs/AUTH.md
  docs/DEPLOYMENT.md
  packages/auth/.env.example
  packages/auth/src/email.ts
  packages/auth/src/origins.ts
  packages/auth/src/server.ts
  packages/harmony-engine/package.json
Due: none

docs(plans): update production prep progress against branch
  .cursor/plans/production_deployment_prep_988afef6.plan.md
Due: none

feat(web): add admin system status dashboard
  apps/web/next.config.ts
  apps/web/src/app/(authenticated)/admin/status/page.tsx
  apps/web/src/lib/__tests__/admin-status-utils.test.ts
  apps/web/src/lib/admin-status-utils.ts
  apps/web/src/lib/admin-status.ts
  apps/web/src/lib/routes.ts
Due: none

docs(plans): include progress commit in plan snapshot
  .cursor/plans/production_deployment_prep_988afef6.plan.md
Due: none

feat(web): add promote/revoke admin controls on users dashboard
  apps/web/src/app/(authenticated)/admin/users/_components/set-user-role-button.tsx
  apps/web/src/app/(authenticated)/admin/users/page.tsx
  docs/AUTH.md
Due: none

feat(db,web): add pool docs, health route, and env-gated Sentry
  .changeset/db-pool-max.md
  .cursor/commands/deploy-check.md
  .cursor/plans/production_deployment_prep_988afef6.plan.md
  .cursor/skills/production-readiness/SKILL.md
  AGENTS.md
  apps/web/.env.example
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/api/health/route.ts
  apps/web/src/app/global-error.tsx
  apps/web/src/env.ts
  apps/web/src/instrumentation-client.ts
  apps/web/src/instrumentation.ts
  apps/web/src/lib/api-utils.ts
  apps/web/src/lib/auth-guards.ts
  apps/web/src/middleware.ts
  apps/web/src/sentry.edge.config.ts
  apps/web/src/sentry.server.config.ts
  docs/AGENT_TOOLING.md
  docs/DATABASE.mdx
  docs/DEPLOYMENT.md
  package.json
  packages/db/.env.example
  packages/db/src/client.ts
  pnpm-lock.yaml
Due: none

fix(ci): unblock web typecheck and prisma generate in CI
  .github/workflows/ci.yml
  .github/workflows/test.yml
  apps/web/src/types/svg.d.ts
Due: none

fix(ci): pass DATABASE_URL through Turborepo strict env mode
  turbo.json
Due: none

fix(ci): provide auth secrets for production Next builds
  .changeset/auth-skip-env-ci.md
  .github/workflows/ci.yml
  packages/auth/src/server.ts
  turbo.json
Due: none

fix(web): export setProfileType and type profileType on profiles
  apps/web/src/app/(authenticated)/admin/users/actions.ts
  apps/web/src/app/(authenticated)/profile/[username]/page.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
  packages/social/src/index.ts
Due: social

fix: correct filter flag order in root scripts and clean web imports
  apps/web/src/app/(authenticated)/admin/layout.tsx
  apps/web/src/app/(authenticated)/profile/[username]/actions.ts
  apps/web/src/app/api/v1/artists/search/route.ts
  apps/web/src/components/sidebar-admin.tsx
  package.json
Due: none

ci: skip changeset status on Version Packages PRs
  .github/workflows/changeset-status.yml
Due: none

docs: isolate beta deploy at beta.scilentmusic.com
  .cursor/plans/production_deployment_prep_988afef6.plan.md
  .cursor/settings.json
  docs/DEPLOYMENT.md
Due: none
