Repository donovanallen/scilent-x: changes, and which Codecov flags are due for each by the changed paths.
All: social, scilent-ui, ui

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecov-yaml

# Coverage thresholds (commented out for now)
# Uncomment and adjust once baseline coverage is established
# coverage:
#   status:
#     project:
#       default:
#         # Require coverage to not drop below this percentage
#         target: 70%
#         # Allow coverage to drop by this amount without failing
#         threshold: 2%
#     patch:
#       default:
#         # Require new code to have at least this coverage
#         target: 80%

# Comment configuration for PR comments
comment:
  # Post a coverage comment on PRs
  layout: 'reach,diff,flags,files'
  behavior: default
  require_changes: true  # Only comment when coverage changes

# Flags for grouping coverage by package
flags:
  social:
    paths:
      - packages/social/
    carryforward: true
  scilent-ui:
    paths:
      - packages/scilent-ui/
    carryforward: true
  ui:
    paths:
      - packages/ui/
    carryforward: true
  # Future: Add more packages as they get tests
  # harmony-engine:
  #   paths:
  #     - packages/harmony-engine/
  #   carryforward: true

# Ignore certain paths from coverage
ignore:
  - '**/*.test.ts'
  - '**/*.stories.tsx'
  - '**/node_modules/**'
  - '**/__tests__/**'
  - '**/coverage/**'

# Parsers configuration
parsers:
  javascript:
    enable_partials: true

misc global ui changes
  apps/web/src/app/global-error.tsx
  apps/web/src/app/loading.tsx
  apps/web/src/app/not-found.tsx
  packages/scilent-ui/src/interactions/previews/AlbumHoverPreview.tsx
  packages/scilent-ui/src/interactions/previews/ArtistHoverPreview.tsx
  packages/scilent-ui/src/interactions/previews/TrackHoverPreview.tsx
  packages/ui/src/components/social/user-card.tsx
Due: scilent-ui, ui

misc styling
  .changeset/heavy-pets-pump.md
  apps/web/src/app/(unauthenticated)/page.tsx
  apps/web/src/components/app-nav-menu.tsx
  packages/ui/src/globals.css
Due: ui

feat: Add Spotify integration for user authentication and profile
  apps/web/.env.example
  apps/web/src/app/(authenticated)/profile/[username]/_components/index.ts
  apps/web/src/app/(authenticated)/profile/[username]/_components/spotify-profile-card.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
  apps/web/src/app/(authenticated)/settings/page.tsx
  apps/web/src/lib/harmonization.ts
  packages/auth/src/server.ts
  packages/harmony-engine/src/providers/spotify.provider.ts
Due: none

spotify config udpates
  apps/web/.env.example
  apps/web/src/app/(authenticated)/admin/db/page.tsx
  packages/auth/.env.example
  packages/auth/src/server.ts
Due: none

feat(db): add ProviderSetting model for harmony engine configuration
  packages/db/prisma/generated/browser.ts
  packages/db/prisma/generated/client.ts
  packages/db/prisma/generated/commonInputTypes.ts
  packages/db/prisma/generated/internal/class.ts
  packages/db/prisma/generated/internal/prismaNamespace.ts
  packages/db/prisma/generated/internal/prismaNamespaceBrowser.ts
  packages/db/prisma/generated/models.ts
  packages/db/prisma/generated/models/ProviderSetting.ts
  packages/db/prisma/schema.prisma
  packages/db/src/index.ts
Due: none

feat(harmonization): add resetEngine() and DB settings support
  apps/web/src/lib/harmonization.ts
Due: none

feat(admin): add server actions for provider settings
  apps/web/src/app/(authenticated)/admin/harmony/actions.ts
Due: none

feat(admin): add ProviderToggle client component
  apps/web/src/app/(authenticated)/admin/harmony/_components/index.ts
  apps/web/src/app/(authenticated)/admin/harmony/_components/provider-toggle.tsx
Due: none

feat(admin): integrate ProviderToggle into harmony dashboard
  apps/web/src/app/(authenticated)/admin/harmony/page.tsx
Due: none

Enhance profile and settings UI with new platform connection features and improved component styling
  .changeset/crisp-states-hammer.md
  apps/web/src/app/(authenticated)/profile/page.tsx
  apps/web/src/app/(authenticated)/settings/page.tsx
  apps/web/src/app/(unauthenticated)/page.tsx
  packages/db/prisma/migrations/20260120212026_add_mention_type/migration.sql
  packages/scilent-ui/package.json
  packages/scilent-ui/src/components/common/PlatformProfileCard.tsx
  packages/scilent-ui/src/components/common/ProviderSyncStatus.tsx
  packages/scilent-ui/src/components/common/index.ts
  packages/scilent-ui/src/components/index.ts
  packages/scilent-ui/src/index.ts
  packages/ui/package.json
  packages/ui/src/components/badge.tsx
  packages/ui/src/components/rich-text-content.tsx
  packages/ui/src/components/social/post-form.tsx
  packages/ui/src/components/tiptap-editor.tsx
  packages/ui/src/globals.css
  pnpm-lock.yaml
Due: scilent-ui, ui

a11y fix
  .changeset/orange-tables-shine.md
  packages/ui/src/components/social/user-avatar.tsx
  packages/ui/src/components/social/user-card.tsx
Due: ui

Implement breadcrumb navigation in AuthenticatedLayout and enhance comment functionality in Feed component
  .changeset/strict-mails-pick.md
  apps/web/src/app/(authenticated)/admin/db/page.tsx
  apps/web/src/app/(authenticated)/admin/harmony/page.tsx
  apps/web/src/app/(authenticated)/admin/page.tsx
  apps/web/src/app/(authenticated)/admin/users/page.tsx
  apps/web/src/app/(authenticated)/explore/page.tsx
  apps/web/src/app/(authenticated)/feed/page.tsx
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(authenticated)/post/[id]/page.tsx
  apps/web/src/app/(authenticated)/search/page.tsx
  apps/web/src/app/(authenticated)/settings/page.tsx
  apps/web/src/app/(authenticated)/users/page.tsx
  apps/web/src/components/sidebar-admin.tsx
  apps/web/src/components/sidebar-footer.tsx
  apps/web/src/components/sidebar-nav.tsx
  apps/web/src/lib/routes.ts
  packages/social/src/feeds/home-feed.ts
  packages/social/src/types.ts
  packages/ui/src/components/breadcrumb.tsx
  packages/ui/src/components/rich-text-content.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/components/social/comment-card.tsx
  packages/ui/src/components/social/comment-form.tsx
  packages/ui/src/components/social/feed.tsx
  packages/ui/src/components/social/index.ts
  packages/ui/src/components/social/post-card-comment-input.tsx
  packages/ui/src/components/social/post-card-comments.tsx
  packages/ui/src/components/social/post-card.tsx
  packages/ui/src/components/tiptap-editor.tsx
  packages/ui/src/globals.css
  packages/ui/src/index.ts
Due: social, ui

feat: add comment mentions support with SimpleTiptapEditor
  apps/web/src/app/(authenticated)/feed/page.tsx
  apps/web/src/app/(authenticated)/post/[id]/page.tsx
  apps/web/src/app/api/v1/posts/[id]/comments/route.ts
  packages/db/prisma/generated/internal/class.ts
  packages/db/prisma/generated/internal/prismaNamespace.ts
  packages/db/prisma/generated/internal/prismaNamespaceBrowser.ts
  packages/db/prisma/generated/models/Comment.ts
  packages/db/prisma/schema.prisma
  packages/social/src/comments/mutations.ts
  packages/social/src/types.ts
  packages/ui/src/components/simple-tiptap-editor.tsx
  packages/ui/src/components/social/comment-card.tsx
  packages/ui/src/components/social/comment-list.tsx
  packages/ui/src/components/social/feed.tsx
  packages/ui/src/components/social/post-card-comment-input.tsx
  packages/ui/src/components/social/post-card-comments.tsx
  packages/ui/src/components/social/post-card.tsx
  packages/ui/src/index.ts
Due: social, ui

fix: use StarterKit in SimpleTiptapEditor instead of separate extensions
  packages/ui/src/components/simple-tiptap-editor.tsx
Due: ui

feat: comprehensive mobile UX improvements
  apps/web/src/components/app-nav-menu.tsx
  apps/web/src/components/sidebar-footer.tsx
  packages/scilent-ui/.storybook/preview.tsx
  packages/ui/.storybook/preview.tsx
  packages/ui/src/components/sheet.tsx
  packages/ui/src/components/social/comment-card.tsx
  packages/ui/src/components/social/post-card-comment-input.tsx
  packages/ui/src/components/social/post-card.tsx
  packages/ui/src/components/social/profile-header.tsx
  packages/ui/src/components/stories/social/post-card.stories.tsx
  packages/ui/src/components/stories/social/profile-header.stories.tsx
  packages/ui/src/globals.css
  packages/ui/src/hooks/use-mobile.tsx
  packages/ui/src/index.ts
Due: scilent-ui, ui

fix: use useIsMobileWithDefault in sidebar for type safety
  packages/ui/src/components/sidebar.tsx
Due: ui

feat: improve mobile UX for layouts and auth forms
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(unauthenticated)/layout.tsx
  apps/web/src/app/(unauthenticated)/login/login-form.tsx
  apps/web/src/app/(unauthenticated)/signup/signup-form.tsx
Due: none

Apply suggestions from code review
  apps/web/src/app/(unauthenticated)/layout.tsx
  apps/web/src/components/app-nav-menu.tsx
  packages/ui/src/globals.css
  packages/ui/src/hooks/use-mobile.tsx
Due: ui

fix: use touch-target utility instead of min-h breakpoints
  packages/ui/src/components/social/post-card.tsx
  packages/ui/src/components/social/profile-header.tsx
Due: ui

fix: improve sheet animation easing and durations
  packages/ui/src/components/sheet.tsx
Due: ui

chore: add changeset for comment mentions feature
  .changeset/sweet-birds-play.md
Due: none

Apply suggestions from code review
  apps/web/src/app/(authenticated)/admin/harmony/_components/provider-toggle.tsx
  apps/web/src/app/(authenticated)/admin/harmony/actions.ts
  apps/web/src/app/(authenticated)/admin/harmony/page.tsx
  packages/db/prisma/schema.prisma
Due: none

docs(harmonization): document resetEngine concurrency behavior
  apps/web/src/app/(authenticated)/admin/harmony/page.tsx
  apps/web/src/lib/harmonization.ts
Due: none

feat(admin): add provider name validation and auth TODO
  apps/web/src/app/(authenticated)/admin/harmony/actions.ts
Due: none

docs(admin): document getProviderSettingsMap usage
  apps/web/src/app/(authenticated)/admin/harmony/actions.ts
Due: none

fix(harmonization): auto-fetch DB settings when rebuilding engine
  apps/web/src/app/(authenticated)/admin/actions.ts
  apps/web/src/app/(authenticated)/admin/harmony/actions.ts
  apps/web/src/app/(authenticated)/profile/[username]/actions.ts
  apps/web/src/app/(authenticated)/search/actions.ts
  apps/web/src/lib/harmonization.ts
Due: none

a11y and UI test fixes
  .changeset/fuzzy-regions-win.md
  apps/web/src/app/(authenticated)/feed/page.tsx
  apps/web/src/app/(authenticated)/post/[id]/page.tsx
  apps/web/src/app/(unauthenticated)/login/login-form.tsx
  apps/web/src/app/(unauthenticated)/signup/signup-form.tsx
  apps/web/src/components/sidebar-footer.tsx
  packages/ui/src/components/social/post-card-comment-input.tsx
  packages/ui/src/components/social/post-card.tsx
  packages/ui/src/components/stories/social/profile-header.stories.tsx
Due: ui

chore: add changeset for Spotify integration
  .changeset/spotify-integration.md
Due: none

db migration; comment layout fixes
  apps/web/src/app/(authenticated)/admin/db/page.tsx
  packages/db/prisma/migrations/20260121180100_post_comments_schema/migration.sql
  packages/ui/src/components/social/comment-card.tsx
  packages/ui/src/components/social/post-card-comment-input.tsx
  packages/ui/src/components/social/post-card.tsx
Due: ui

feat(tidal): add library counts (albums, playlists, artists) to profile card
  apps/web/src/app/(authenticated)/profile/[username]/_components/tidal-profile-card.tsx
  apps/web/src/app/(authenticated)/profile/[username]/actions.ts
  apps/web/src/lib/harmonization.ts
  packages/harmony-engine/src/providers/base.provider.ts
  packages/harmony-engine/src/providers/tidal.provider.ts
  packages/scilent-ui/src/components/common/PlatformProfileCard.tsx
  packages/scilent-ui/src/components/common/index.ts
  packages/scilent-ui/src/index.ts
Due: scilent-ui

chore: update dependencies and improve Tidal provider functionality
  .changeset/free-jokes-press.md
  apps/web/src/app/(authenticated)/admin/harmony/_components/provider-toggle.tsx
  apps/web/src/app/(authenticated)/admin/harmony/actions.ts
  apps/web/src/app/(authenticated)/admin/harmony/page.tsx
  apps/web/src/app/(authenticated)/profile/[username]/_components/tidal-profile-card.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
  apps/web/src/lib/harmonization.ts
  packages/db/package.json
  packages/db/prisma/generated/internal/class.ts
  packages/db/prisma/generated/internal/prismaNamespace.ts
  packages/db/prisma/generated/internal/prismaNamespaceBrowser.ts
  packages/db/prisma/migrations/20260121195048_provider_config_settings/migration.sql
  packages/harmony-engine/src/providers/tidal.provider.ts
  pnpm-lock.yaml
Due: none

Add scilent-ui mock data and icon tests
  packages/scilent-ui/src/__stories__/__tests__/mock-data.test.ts
  packages/scilent-ui/src/icons/__tests__/types.test.ts
Due: none

test(ui): cover hooks with vitest
  packages/ui/package.json
  packages/ui/src/__tests__/hooks.test.ts
  pnpm-lock.yaml
Due: ui

test(social): add coverage for social package
  packages/social/src/__tests__/social.test.ts
Due: none

fix(ui): honor rootMargin in infinite scroll
  packages/ui/src/__tests__/hooks.test.ts
  packages/ui/src/hooks/use-infinite-scroll.ts
Due: ui

Refine mock data test assertions
  packages/scilent-ui/src/__stories__/__tests__/mock-data.test.ts
Due: none

chore(ui): add changeset for rootMargin fix
  .changeset/bright-dingos-ring.md
Due: none

chore(agents): port cursor cloud agent config from cams-web-client
  .cursor/environment.json
  .cursor/hooks.json
  .cursor/hooks/changeset-reminder.sh
  .cursor/hooks/format-on-edit.sh
  scripts/cloud-agent-install.sh
  scripts/cloud-agent-startup.sh
Due: none

docs: document cursor agent tooling setup
  AGENTS.md
  agents/CLAUDE.md
  docs/AGENT_TOOLING.md
  docs/TODO.md
Due: none

chore(deps): update in-range dependencies to latest safe minor/patch versions
  apps/web/package.json
  apps/web/src/app/(authenticated)/profile/page.tsx
  package.json
  packages/auth/package.json
  packages/db/package.json
  packages/db/prisma/generated/client.ts
  packages/db/prisma/generated/internal/class.ts
  packages/db/prisma/generated/internal/prismaNamespace.ts
  packages/db/prisma/generated/internal/prismaNamespaceBrowser.ts
  packages/db/prisma/generated/models/Account.ts
  packages/db/prisma/generated/models/Activity.ts
  packages/db/prisma/generated/models/Comment.ts
  packages/db/prisma/generated/models/Follow.ts
  packages/db/prisma/generated/models/Like.ts
  packages/db/prisma/generated/models/Mention.ts
  packages/db/prisma/generated/models/Post.ts
  packages/db/prisma/generated/models/ProviderSetting.ts
  packages/db/prisma/generated/models/Session.ts
  packages/db/prisma/generated/models/User.ts
  packages/db/prisma/generated/models/Verification.ts
  packages/harmony-engine/package.json
  packages/logger/package.json
  packages/scilent-ui/package.json
  packages/social/package.json
  packages/tooling/package.json
  packages/ui/package.json
  packages/ui/src/components/stories/dropdown-menu.stories.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: social, scilent-ui, ui
