Repository donovanallen/scilent-x: changes, and which Codecov flags are due for each by the changed paths.
All: social, scilent-ui, ui

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecov-yaml

# Coverage thresholds (commented out for now)
# Uncomment and adjust once baseline coverage is established
# coverage:
#   status:
#     project:
#       default:
#         # Require coverage to not drop below this percentage
#         target: 70%
#         # Allow coverage to drop by this amount without failing
#         threshold: 2%
#     patch:
#       default:
#         # Require new code to have at least this coverage
#         target: 80%

# Comment configuration for PR comments
comment:
  # Post a coverage comment on PRs
  layout: 'reach,diff,flags,files'
  behavior: default
  require_changes: true  # Only comment when coverage changes

# Flags for grouping coverage by package
flags:
  social:
    paths:
      - packages/social/
    carryforward: true
  scilent-ui:
    paths:
      - packages/scilent-ui/
    carryforward: true
  ui:
    paths:
      - packages/ui/
    carryforward: true
  # Future: Add more packages as they get tests
  # harmony-engine:
  #   paths:
  #     - packages/harmony-engine/
  #   carryforward: true

# Ignore certain paths from coverage
ignore:
  - '**/*.test.ts'
  - '**/*.stories.tsx'
  - '**/node_modules/**'
  - '**/__tests__/**'
  - '**/coverage/**'

# Parsers configuration
parsers:
  javascript:
    enable_partials: true

chore: version packages via changesets
  .changeset/crisp-states-hammer.md
  .changeset/fuzzy-regions-win.md
  .changeset/heavy-pets-pump.md
  .changeset/new-islands-push.md
  .changeset/nice-kiwis-rule.md
  .changeset/orange-tables-shine.md
  .changeset/rename-harmony-to-scilent-ui.md
  .changeset/spotify-integration.md
  .changeset/strict-mails-pick.md
  .changeset/sweet-birds-play.md
  packages/auth/CHANGELOG.md
  packages/auth/package.json
  packages/db/CHANGELOG.md
  packages/db/package.json
  packages/harmony-engine/CHANGELOG.md
  packages/harmony-engine/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/scilent-ui/CHANGELOG.md
  packages/scilent-ui/package.json
  packages/social/CHANGELOG.md
  packages/social/package.json
  packages/tooling/CHANGELOG.md
  packages/tooling/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
Due: social, scilent-ui, ui

chore(deps): deliberate major version bumps (date-fns, pino, zod, eslint, chromatic, vite)
  apps/web/package.json
  package.json
  packages/auth/package.json
  packages/db/package.json
  packages/harmony-engine/package.json
  packages/harmony-engine/src/types/harmonized.types.ts
  packages/harmony-engine/src/utils/retry.ts
  packages/logger/package.json
  packages/scilent-ui/package.json
  packages/social/package.json
  packages/tooling/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: social, scilent-ui, ui

chore: improve Renovate automerge config and document dependency audit
  agents/DEPENDENCY_AUDIT.md
  docs/TODO.md
  renovate.json
Due: none

docs: update README to reflect current monorepo state
  README.md
Due: none

docs: update README to reflect current monorepo state (#95)
  README.md
Due: none

feat(harmony-engine): add Apple Music catalog provider
  .changeset/apple-music-catalog-provider.md
  packages/harmony-engine/src/__tests__/providers.test.ts
  packages/harmony-engine/src/index.ts
  packages/harmony-engine/src/providers/apple-music.provider.ts
  packages/harmony-engine/src/providers/index.ts
Due: none

feat(web): add preset color themes with per-user persistence
  .changeset/preset-theme-palettes.md
  .changeset/user-palette-persistence.md
  .cursor/skills/add-theme/SKILL.md
  apps/web/README.md
  apps/web/src/app/(authenticated)/settings/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/appearance-settings.tsx
  apps/web/src/components/palette-provider.tsx
  apps/web/src/components/sidebar-footer.tsx
  apps/web/src/lib/themes.ts
  packages/auth/src/client.ts
  packages/auth/src/server.ts
  packages/db/prisma/generated/internal/class.ts
  packages/db/prisma/generated/internal/prismaNamespace.ts
  packages/db/prisma/generated/internal/prismaNamespaceBrowser.ts
  packages/db/prisma/generated/models/User.ts
  packages/db/prisma/schema.prisma
  packages/ui/src/globals.css
Due: ui

fix(db): reconcile migration history for provider_settings and user palette
  packages/db/prisma/migrations/20260121195048_provider_config_settings/migration.sql
  packages/db/prisma/migrations/20260707223900_add_user_palette/migration.sql
Due: none

feat(web): wire Apple Music catalog provider into harmonization engine
  apps/web/.env.example
  apps/web/src/app/(authenticated)/admin/harmony/actions.ts
  apps/web/src/app/(authenticated)/admin/harmony/page.tsx
  apps/web/src/lib/harmonization.ts
Due: none

feat(harmony-engine): add Apple Music user-auth (storefront profile + library artists)
  .changeset/apple-music-user-auth.md
  apps/web/src/lib/harmonization.ts
  packages/harmony-engine/src/__tests__/providers.test.ts
  packages/harmony-engine/src/providers/apple-music.provider.ts
Due: none

feat(web): redesign appearance settings with preview cards
  apps/web/src/components/appearance-settings.tsx
Due: none

feat(harmony-engine): resolve track URLs (Apple Music song links)
  .changeset/apple-music-track-url-lookup.md
  packages/harmony-engine/src/__tests__/providers.test.ts
  packages/harmony-engine/src/index.ts
  packages/harmony-engine/src/lookup/coordinator.ts
  packages/harmony-engine/src/providers/apple-music.provider.ts
  packages/harmony-engine/src/providers/base.provider.ts
Due: none

fix(harmony-engine): detect Apple Music EPs from title convention
  .changeset/apple-music-ep-release-type.md
  packages/harmony-engine/src/__tests__/providers.test.ts
  packages/harmony-engine/src/providers/apple-music.provider.ts
Due: none

feat(web): connect Apple Music via MusicKit (Stage 2b)
  apps/web/src/app/(authenticated)/profile/[username]/_components/apple-music-profile-card.tsx
  apps/web/src/app/(authenticated)/profile/[username]/_components/index.ts
  apps/web/src/app/(authenticated)/profile/page.tsx
  apps/web/src/app/(authenticated)/settings/page.tsx
  apps/web/src/app/api/v1/apple-music/connect/route.ts
  apps/web/src/app/api/v1/apple-music/developer-token/route.ts
  apps/web/src/lib/apple-music-developer-token.ts
  apps/web/src/lib/musickit.ts
Due: none

feat: generalize provider artist routes, resolve Spotify/Tidal track URLs, add admin lookup UI
  .changeset/spotify-tidal-track-url-lookup.md
  apps/web/src/app/(authenticated)/admin/actions.ts
  apps/web/src/app/(authenticated)/admin/lookup/_components/index.ts
  apps/web/src/app/(authenticated)/admin/lookup/_components/lookup-form.tsx
  apps/web/src/app/(authenticated)/admin/lookup/page.tsx
  apps/web/src/app/api/v1/artists/following/route.ts
  apps/web/src/app/api/v1/artists/search/route.ts
  apps/web/src/lib/music-provider.ts
  apps/web/src/lib/routes.ts
  packages/harmony-engine/src/__tests__/providers.test.ts
  packages/harmony-engine/src/providers/spotify.provider.ts
  packages/harmony-engine/src/providers/tidal.provider.ts
Due: none

feat(harmony-engine): resolve provider priority from config
  .changeset/provider-priority-from-config.md
  packages/harmony-engine/src/__tests__/providers.test.ts
  packages/harmony-engine/src/providers/apple-music.provider.ts
  packages/harmony-engine/src/providers/base.provider.ts
  packages/harmony-engine/src/providers/musicbrainz.provider.ts
  packages/harmony-engine/src/providers/spotify.provider.ts
  packages/harmony-engine/src/providers/tidal.provider.ts
Due: none

feat(web): make metadata provider priority editable in admin
  apps/web/src/app/(authenticated)/admin/harmony/_components/index.ts
  apps/web/src/app/(authenticated)/admin/harmony/_components/provider-priority.tsx
  apps/web/src/app/(authenticated)/admin/harmony/actions.ts
  apps/web/src/app/(authenticated)/admin/harmony/page.tsx
  apps/web/src/app/(authenticated)/admin/harmony/provider-metadata.ts
Due: none

fix(tooling): migrate to eslint-plugin-import-x for ESLint 10 support
  packages/tooling/eslint/base.mjs
  packages/tooling/eslint/next.js
  packages/tooling/package.json
  packages/tooling/typescript/base.json
  pnpm-lock.yaml
Due: none

chore(tooling): add empty changeset for eslint-plugin-import-x migration
  .changeset/eslint-import-x-migration.md
Due: none

fix(scilent-ui): fix provider icon visibility across themes
  .changeset/provider-icons-visibility.md
  packages/scilent-ui/src/icons/AppleMusicIcon.tsx
  packages/scilent-ui/src/icons/SpotifyIcon.tsx
  packages/scilent-ui/src/icons/TidalIcon.tsx
  packages/scilent-ui/src/icons/assets/apple/icon-black.svg
  packages/scilent-ui/src/icons/assets/apple/icon-brand.svg
  packages/scilent-ui/src/icons/assets/apple/icon-white.svg
  packages/scilent-ui/src/icons/types.ts
Due: scilent-ui

feat(web): refresh provider access tokens before failing
  apps/web/src/app/(authenticated)/profile/[username]/actions.ts
  apps/web/src/lib/music-provider.ts
Due: none

feat(web): add provider filter to search page
  apps/web/src/app/(authenticated)/search/_components/search-container.tsx
  apps/web/src/app/(authenticated)/search/_components/search-filters-provider.tsx
  apps/web/src/app/(authenticated)/search/_components/search-input.tsx
  apps/web/src/app/(authenticated)/search/_components/search-provider-toggle.tsx
Due: none

fix(harmony-engine): default empty Apple Music storefront to 'us'
  .changeset/apple-music-storefront-fallback.md
  apps/web/src/lib/harmonization.ts
  packages/harmony-engine/src/lookup/coordinator.ts
  packages/harmony-engine/src/providers/apple-music.provider.ts
Due: none

fix(scilent-ui): use theme-aware provider icons in PlatformProfileCard
  packages/scilent-ui/src/components/common/PlatformProfileCard.tsx
Due: scilent-ui

feat(harmony-engine): add playlists and recently-played support
  .changeset/apple-music-playlists-recently-played.md
  packages/harmony-engine/src/__tests__/providers.test.ts
  packages/harmony-engine/src/__tests__/types.test.ts
  packages/harmony-engine/src/providers/apple-music.provider.ts
  packages/harmony-engine/src/providers/base.provider.ts
  packages/harmony-engine/src/types/harmonized.types.ts
  packages/harmony-engine/src/types/index.ts
Due: none

feat(scilent-ui): add playlists and recent tracks sections to PlatformProfileCard
  .changeset/scilent-ui-playlists-recently-played.md
  packages/scilent-ui/src/components/common/PlatformProfileCard.stories.tsx
  packages/scilent-ui/src/components/common/PlatformProfileCard.tsx
  packages/scilent-ui/src/components/common/index.ts
  packages/scilent-ui/src/components/index.ts
  packages/scilent-ui/src/index.ts
Due: scilent-ui

feat(web): surface Apple Music playlists and recently played tracks
  apps/web/src/app/(authenticated)/profile/[username]/_components/apple-music-profile-card.tsx
  apps/web/src/app/(authenticated)/profile/[username]/actions.ts
  apps/web/src/app/api/v1/me/playlists/route.ts
  apps/web/src/app/api/v1/me/recently-played/route.ts
  apps/web/src/lib/harmonization.ts
Due: none

chore(ui): migrate tailwindcss-animate to tw-animate-css, add motion tokens
  apps/web/README.md
  apps/web/package.json
  packages/ui/package.json
  packages/ui/src/globals.css
  pnpm-lock.yaml
Due: ui

feat(ui): add useReducedMotion, useInViewport hooks and Reveal component
  packages/ui/src/components/reveal.tsx
  packages/ui/src/hooks/use-in-viewport.ts
  packages/ui/src/hooks/use-reduced-motion.ts
  packages/ui/src/index.ts
Due: ui

feat(ui): apply motion tokens across core primitives
  packages/ui/src/components/button.tsx
  packages/ui/src/components/context-menu.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/dropdown-menu.tsx
  packages/ui/src/components/hover-card.tsx
  packages/ui/src/components/popover.tsx
  packages/ui/src/components/select.tsx
  packages/ui/src/components/sheet.tsx
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/components/skeleton.tsx
  packages/ui/src/components/switch.tsx
  packages/ui/src/components/tabs.tsx
  packages/ui/src/components/tooltip.tsx
Due: ui

feat(scilent-ui): standardize hover-lift transitions on shared motion tokens
  packages/scilent-ui/src/components/album/AlbumArtwork.tsx
  packages/scilent-ui/src/components/album/AlbumCard.tsx
  packages/scilent-ui/src/components/artist/ArtistCard.tsx
  packages/scilent-ui/src/components/track/TrackCard.tsx
Due: scilent-ui

feat(web,ui): apply Reveal stagger pattern to search results and feed
  apps/web/src/app/(authenticated)/search/_components/search-results.tsx
  packages/ui/src/components/social/feed.tsx
Due: ui

chore: add changeset for global motion system phase 1
  .changeset/gentle-plums-relax.md
Due: none

feat(web): enable native View Transitions for route navigation
  apps/web/package.json
  apps/web/src/app/layout.tsx
  pnpm-lock.yaml
Due: none

feat(web): scope page transitions to content, anchor persistent chrome
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(unauthenticated)/layout.tsx
  apps/web/src/app/globals.css
Due: none

refactor(web): use transition-aware Link/router everywhere for navigation
  apps/web/src/app/(authenticated)/admin/db/page.tsx
  apps/web/src/app/(authenticated)/admin/db/setup/page.tsx
  apps/web/src/app/(authenticated)/explore/page.tsx
  apps/web/src/app/(authenticated)/feed/page.tsx
  apps/web/src/app/(authenticated)/post/[id]/page.tsx
  apps/web/src/app/(authenticated)/profile/[username]/followers/page.tsx
  apps/web/src/app/(authenticated)/profile/[username]/following/page.tsx
  apps/web/src/app/(authenticated)/profile/[username]/page.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
  apps/web/src/app/(authenticated)/settings/profile/page.tsx
  apps/web/src/app/(authenticated)/users/page.tsx
  apps/web/src/app/(unauthenticated)/login/login-form.tsx
  apps/web/src/app/(unauthenticated)/signup/signup-form.tsx
  apps/web/src/app/not-found.tsx
  apps/web/src/components/app-nav-menu.tsx
  apps/web/src/components/harmony-interaction-provider.tsx
  apps/web/src/components/sidebar-admin.tsx
  apps/web/src/components/sidebar-footer.tsx
  apps/web/src/components/sidebar-logo.tsx
  apps/web/src/components/sidebar-nav.tsx
Due: none

feat(db): add Repost model and support entity mentions
  packages/db/prisma/generated/browser.ts
  packages/db/prisma/generated/client.ts
  packages/db/prisma/generated/enums.ts
  packages/db/prisma/generated/internal/class.ts
  packages/db/prisma/generated/internal/prismaNamespace.ts
  packages/db/prisma/generated/internal/prismaNamespaceBrowser.ts
  packages/db/prisma/generated/models.ts
  packages/db/prisma/generated/models/Mention.ts
  packages/db/prisma/generated/models/Post.ts
  packages/db/prisma/generated/models/Repost.ts
  packages/db/prisma/generated/models/User.ts
  packages/db/prisma/migrations/20260708125253_add_reposts_and_entity_mentions/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/src/index.ts
Due: none

feat(social): add reposts, fix mention/activity/pagination bugs
  packages/social/README.md
  packages/social/src/feeds/explore-feed.ts
  packages/social/src/feeds/home-feed.ts
  packages/social/src/feeds/profile-feed.ts
  packages/social/src/index.ts
  packages/social/src/mentions/__tests__/createMentions.test.ts
  packages/social/src/mentions/parser.ts
  packages/social/src/posts/mutations.ts
  packages/social/src/posts/queries.ts
  packages/social/src/reposts/__tests__/mutations.test.ts
  packages/social/src/reposts/index.ts
  packages/social/src/reposts/mutations.ts
  packages/social/src/types.ts
Due: social

feat(ui): add repost UI and inline comment editing
  packages/ui/src/components/social/comment-card.tsx
  packages/ui/src/components/social/comment-list.tsx
  packages/ui/src/components/social/feed.tsx
  packages/ui/src/components/social/post-card.tsx
Due: ui

feat(web): wire reposts, tabbed profile, and comment UX fixes
  apps/web/src/app/(authenticated)/explore/page.tsx
  apps/web/src/app/(authenticated)/feed/page.tsx
  apps/web/src/app/(authenticated)/post/[id]/page.tsx
  apps/web/src/app/(authenticated)/profile/[username]/page.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
  apps/web/src/app/api/v1/posts/[id]/repost/route.ts
  apps/web/src/app/api/v1/users/[username]/route.ts
Due: none
