Repository donovanallen/scilent-x: changes, and which Codecov flags are due for each by the changed paths.
All: social, scilent-ui, ui

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecov-yaml

# Coverage thresholds (commented out for now)
# Uncomment and adjust once baseline coverage is established
# coverage:
#   status:
#     project:
#       default:
#         # Require coverage to not drop below this percentage
#         target: 70%
#         # Allow coverage to drop by this amount without failing
#         threshold: 2%
#     patch:
#       default:
#         # Require new code to have at least this coverage
#         target: 80%

# Comment configuration for PR comments
comment:
  # Post a coverage comment on PRs
  layout: 'reach,diff,flags,files'
  behavior: default
  require_changes: true  # Only comment when coverage changes

# Flags for grouping coverage by package
flags:
  social:
    paths:
      - packages/social/
    carryforward: true
  scilent-ui:
    paths:
      - packages/scilent-ui/
    carryforward: true
  ui:
    paths:
      - packages/ui/
    carryforward: true
  # Future: Add more packages as they get tests
  # harmony-engine:
  #   paths:
  #     - packages/harmony-engine/
  #   carryforward: true

# Ignore certain paths from coverage
ignore:
  - '**/*.test.ts'
  - '**/*.stories.tsx'
  - '**/node_modules/**'
  - '**/__tests__/**'
  - '**/coverage/**'

# Parsers configuration
parsers:
  javascript:
    enable_partials: true

chore: add changeset for reposts and posts fixes
  .changeset/social-posts-loose-ends.md
Due: none

feat(db): add Conversation, ConversationParticipant, and Message models
  packages/db/prisma/generated/browser.ts
  packages/db/prisma/generated/client.ts
  packages/db/prisma/generated/internal/class.ts
  packages/db/prisma/generated/internal/prismaNamespace.ts
  packages/db/prisma/generated/internal/prismaNamespaceBrowser.ts
  packages/db/prisma/generated/models.ts
  packages/db/prisma/generated/models/Conversation.ts
  packages/db/prisma/generated/models/ConversationParticipant.ts
  packages/db/prisma/generated/models/Message.ts
  packages/db/prisma/generated/models/User.ts
  packages/db/prisma/migrations/20260708133522_add_messaging_conversations/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/src/index.ts
Due: none

feat(social): add conversations and messages domain modules
  packages/social/src/conversations/index.ts
  packages/social/src/conversations/mutations.ts
  packages/social/src/conversations/queries.ts
  packages/social/src/index.ts
  packages/social/src/messages/index.ts
  packages/social/src/messages/mutations.ts
  packages/social/src/messages/queries.ts
  packages/social/src/types.ts
  packages/social/src/users/queries.ts
Due: social

feat(ui): add messaging components for inbox and conversation threads
  packages/ui/src/components/social/conversation-list-item.tsx
  packages/ui/src/components/social/conversation-list.tsx
  packages/ui/src/components/social/index.ts
  packages/ui/src/components/social/message-bubble.tsx
  packages/ui/src/components/social/message-composer.tsx
  packages/ui/src/components/social/message-thread.tsx
  packages/ui/src/components/social/profile-header.tsx
  packages/ui/src/components/stories/social/conversation-list-item.stories.tsx
  packages/ui/src/components/stories/social/conversation-list.stories.tsx
  packages/ui/src/components/stories/social/message-bubble.stories.tsx
  packages/ui/src/components/stories/social/message-composer.stories.tsx
  packages/ui/src/components/stories/social/message-thread.stories.tsx
  packages/ui/src/index.ts
Due: ui

feat(web): add message inbox pages and REST API routes
  apps/web/src/app/(authenticated)/messages/[id]/page.tsx
  apps/web/src/app/(authenticated)/messages/layout.tsx
  apps/web/src/app/(authenticated)/messages/page.tsx
  apps/web/src/app/(authenticated)/profile/[username]/page.tsx
  apps/web/src/app/api/v1/conversations/[id]/messages/route.ts
  apps/web/src/app/api/v1/conversations/[id]/read/route.ts
  apps/web/src/app/api/v1/conversations/[id]/route.ts
  apps/web/src/app/api/v1/conversations/route.ts
  apps/web/src/lib/routes.ts
Due: none

chore: add changeset for basic message inbox feature
  .changeset/basic-message-inbox.md
Due: none

test(social): cover remaining mutations/queries/feeds (~99% coverage)
  .changeset/social-coverage-and-pr-comment.md
  packages/social/coverage/coverage-final.json
  packages/social/coverage/coverage-summary.json
  packages/social/src/comments/__tests__/mutations.test.ts
  packages/social/src/comments/__tests__/queries.test.ts
  packages/social/src/conversations/__tests__/mutations.test.ts
  packages/social/src/conversations/__tests__/queries.test.ts
  packages/social/src/feeds/__tests__/explore-feed.test.ts
  packages/social/src/feeds/__tests__/home-feed.test.ts
  packages/social/src/feeds/__tests__/profile-feed.test.ts
  packages/social/src/follows/__tests__/mutations.test.ts
  packages/social/src/follows/__tests__/queries.test.ts
  packages/social/src/likes/__tests__/mutations.test.ts
  packages/social/src/mentions/__tests__/convertLegacyMentions.test.ts
  packages/social/src/mentions/__tests__/mutations.test.ts
  packages/social/src/messages/__tests__/mutations.test.ts
  packages/social/src/messages/__tests__/queries.test.ts
  packages/social/src/posts/__tests__/mutations.test.ts
  packages/social/src/posts/__tests__/queries.test.ts
  packages/social/src/users/__tests__/mutations.test.ts
  packages/social/src/users/__tests__/queries.test.ts
Due: none

ci: post per-package coverage table as a sticky PR comment
  .github/workflows/test.yml
  .gitignore
  packages/social/README.md
  scripts/generate-coverage-comment.mjs
Due: social

feat(ci): include ui and scilent-ui in per-package coverage PR comment
  scripts/generate-coverage-comment.mjs
Due: none

test(scilent-ui): close coverage gaps in utils and icons
  packages/scilent-ui/src/components/common/__tests__/ReleaseTypePill.test.ts
  packages/scilent-ui/src/icons/__tests__/ProviderIcon.test.ts
  packages/scilent-ui/src/icons/__tests__/iconUrls.test.ts
  packages/scilent-ui/src/icons/__tests__/types.test.ts
  packages/scilent-ui/vitest.config.ts
Due: scilent-ui

chore(ui): add changeset for rootMargin fix
  .changeset/bright-dingos-ring.md
Due: none

fix(ui): honor rootMargin in infinite scroll
  packages/ui/src/__tests__/hooks.test.ts
  packages/ui/src/hooks/use-infinite-scroll.ts
Due: ui

test(ui): cover hooks with vitest
  packages/ui/package.json
  packages/ui/src/__tests__/hooks.test.ts
  pnpm-lock.yaml
Due: ui

chore(scilent-ui): add changeset for test coverage work
  .changeset/scilent-ui-test-coverage.md
Due: none

fix(scilent-ui): constrain review subject search picker overflow
  .changeset/review-subject-search-scroll.md
  apps/web/src/app/globals.css
  packages/scilent-ui/src/components/review/MusicSubjectPicker.tsx
Due: scilent-ui

feat(web): add reviews hub and retire explore page
  .changeset/breadcrumb-current-page-highlight.md
  .changeset/reviews-trending.md
  apps/web/src/app/(authenticated)/explore/page.tsx
  apps/web/src/app/(authenticated)/feed/page.tsx
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(authenticated)/reviews/new/_components/new-review-page-client.tsx
  apps/web/src/app/(authenticated)/reviews/new/page.tsx
  apps/web/src/app/(authenticated)/reviews/page.tsx
  apps/web/src/app/api/v1/reviews/route.ts
  apps/web/src/components/entity-reviews-page-client.tsx
  apps/web/src/lib/routes.ts
  packages/social/src/reviews/queries.ts
  packages/ui/src/components/breadcrumb.tsx
Due: social, ui

feat(web): add review detail route and improve review card interactions
  .changeset/review-card-click-targets.md
  apps/web/src/app/(authenticated)/feed/page.tsx
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(authenticated)/profile/[username]/page.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
  apps/web/src/app/(authenticated)/review/[id]/page.tsx
  apps/web/src/app/(authenticated)/reviews/new/_components/new-review-page-client.tsx
  apps/web/src/app/(authenticated)/reviews/page.tsx
  apps/web/src/components/entity-reviews-page-client.tsx
  apps/web/src/components/post-detail-page-client.tsx
  apps/web/src/lib/post-routes.ts
  packages/scilent-ui/src/components/review/ReviewCard.tsx
Due: scilent-ui

feat(ui): add themeable custom scrollbar system
  .changeset/custom-scrollbar-component.md
  packages/ui/src/__tests__/hooks.test.ts
  packages/ui/src/components/scroll-area.tsx
  packages/ui/src/components/stories/scroll-area.stories.tsx
  packages/ui/src/globals.css
  packages/ui/src/hooks/use-scroll-activity.ts
  packages/ui/src/index.ts
Due: ui

refactor(scilent-ui): use custom-scrollbars in EntityPreview
  packages/scilent-ui/src/interactions/previews/EntityPreview.tsx
Due: scilent-ui

feat(web): apply custom-scrollbars to app body
  apps/web/src/app/layout.tsx
Due: none

feat(web): add My Artists page with cross-provider aggregation
  .changeset/my-artists-profile-card-links.md
  apps/web/package.json
  apps/web/src/app/(authenticated)/artists/_components/artists-container.tsx
  apps/web/src/app/(authenticated)/artists/_components/artists-input-bar.tsx
  apps/web/src/app/(authenticated)/artists/_components/artists-results.tsx
  apps/web/src/app/(authenticated)/artists/_components/artists-toolbar.tsx
  apps/web/src/app/(authenticated)/artists/page.tsx
  apps/web/src/app/(authenticated)/profile/[username]/_components/apple-music-profile-card.tsx
  apps/web/src/app/(authenticated)/profile/[username]/_components/spotify-profile-card.tsx
  apps/web/src/app/(authenticated)/profile/[username]/_components/tidal-profile-card.tsx
  apps/web/src/app/(authenticated)/profile/artists/page.tsx
  apps/web/src/app/(authenticated)/search/_components/search-input.tsx
  apps/web/src/app/(authenticated)/search/_components/search-provider-toggle.tsx
  apps/web/src/app/api/v1/artists/following/route.ts
  apps/web/src/app/api/v1/me/artists/following/route.ts
  apps/web/src/components/provider-filter-toggle.tsx
  apps/web/src/lib/__tests__/aggregate-followed-artists.test.ts
  apps/web/src/lib/aggregate-followed-artists.ts
  apps/web/src/lib/music-provider.ts
  apps/web/src/lib/routes.ts
  apps/web/vitest.config.ts
  packages/scilent-ui/src/components/common/PlatformProfileCard.tsx
  pnpm-lock.yaml
Due: scilent-ui

docs(reviews): add Storybook screenshots and fix artwork opacity
  docs/assets/reviews/review-attach-flow.gif
  docs/assets/reviews/review-card-album.png
  docs/assets/reviews/review-composer-empty.png
  docs/assets/reviews/review-composer.png
  docs/assets/reviews/review-feed-mix.png
  docs/assets/reviews/review-music-picker.png
  packages/scilent-ui/src/components/album/AlbumArtwork.tsx
  packages/scilent-ui/src/components/review/Review.stories.tsx
  packages/scilent-ui/src/components/review/__storybook-art.ts
Due: scilent-ui

chore(scilent-ui): drop unused MusicSubjectPicker import from review stories
  packages/scilent-ui/src/components/review/Review.stories.tsx
Due: none

feat(artists): search all followed-artist pages and fix list/card layout jitter
  .changeset/artist-list-item-link-slot.md
  .changeset/tiptap-mention-suggestion-render.md
  .cursor/commands/go-main.md
  .cursor/commands/go.md
  .cursor/commands/ready.md
  apps/web/src/app/(authenticated)/artists/_components/artists-container.tsx
  apps/web/src/app/(authenticated)/artists/_components/artists-input-bar.tsx
  apps/web/src/app/(authenticated)/artists/_components/artists-results.tsx
  apps/web/src/app/api/v1/artwork/route.ts
  apps/web/src/components/provider-filter-toggle.tsx
  apps/web/src/lib/__tests__/aggregate-followed-artists.test.ts
  apps/web/src/lib/aggregate-followed-artists.ts
  packages/scilent-ui/src/components/artist/ArtistCard.tsx
  packages/scilent-ui/src/components/artist/ArtistListItem.tsx
  packages/ui/src/components/tiptap-editor.tsx
Due: scilent-ui, ui

fix(ui): keep artist mention search open for multi-word names
  .changeset/multi-word-artist-mention-search.md
  packages/ui/src/components/__tests__/mention-suggestion-match.test.ts
  packages/ui/src/components/mention-suggestion-match.ts
  packages/ui/src/components/simple-tiptap-editor.tsx
  packages/ui/src/components/tiptap-editor.tsx
Due: ui

fix(web): make reviews page container full-width
  apps/web/src/app/(authenticated)/reviews/page.tsx
  apps/web/src/components/entity-reviews-page-client.tsx
Due: none

fix(ui): remove blue focus outline on comment editor
  .changeset/simple-tiptap-focus-outline.md
  packages/ui/src/components/simple-tiptap-editor.tsx
  packages/ui/src/globals.css
Due: ui

feat(scilent-ui): expand review ingress via entity interactions
  .changeset/review-ingress-interactions.md
  apps/web/src/app/(unauthenticated)/login/login-form.tsx
  apps/web/src/app/(unauthenticated)/login/page.tsx
  apps/web/src/app/(unauthenticated)/signup/page.tsx
  apps/web/src/app/(unauthenticated)/signup/signup-form.tsx
  apps/web/src/components/harmony-interaction-provider.tsx
  apps/web/src/lib/routes.ts
  docs/REVIEW_INGRESS.md
  docs/TODO.md
  packages/scilent-ui/src/components/album/AlbumTrackList.tsx
  packages/scilent-ui/src/components/artist/ArtistCredit.tsx
  packages/scilent-ui/src/components/artist/ArtistDiscography.tsx
  packages/scilent-ui/src/components/review/Review.stories.tsx
  packages/scilent-ui/src/components/track/TrackList.tsx
  packages/scilent-ui/src/interactions/InteractiveWrapper.tsx
  packages/scilent-ui/src/interactions/__stories__/ContextMenus.stories.tsx
  packages/scilent-ui/src/interactions/__stories__/InteractiveWrapper.stories.tsx
  packages/scilent-ui/src/interactions/menus/AlbumContextMenu.tsx
  packages/scilent-ui/src/interactions/menus/EntityMenu.tsx
  packages/scilent-ui/src/interactions/menus/TrackContextMenu.tsx
  packages/scilent-ui/src/interactions/provider.tsx
  packages/scilent-ui/src/interactions/types.ts
Due: scilent-ui

feat(ui): add cycling ComposerHint and wire into TiptapEditor/PostForm
  packages/ui/src/components/social/__tests__/composer-hint.test.tsx
  packages/ui/src/components/social/composer-hint.tsx
  packages/ui/src/components/social/index.ts
  packages/ui/src/components/social/post-form.tsx
  packages/ui/src/components/stories/social/composer-hint.stories.tsx
  packages/ui/src/components/tiptap-editor.tsx
  packages/ui/src/index.ts
  packages/ui/vitest.config.ts
Due: ui

feat(scilent-ui): default ReviewComposer to mention hints via composerHints
  packages/scilent-ui/src/components/review/ReviewComposer.tsx
Due: scilent-ui

chore: add changeset for ComposerHint
  .changeset/composer-hint-component.md
Due: none

feat(db): add PostVisibility enum and Post.visibility field
  packages/db/prisma/generated/commonInputTypes.ts
  packages/db/prisma/generated/enums.ts
  packages/db/prisma/generated/internal/class.ts
  packages/db/prisma/generated/internal/prismaNamespace.ts
  packages/db/prisma/generated/internal/prismaNamespaceBrowser.ts
  packages/db/prisma/generated/models/Post.ts
  packages/db/prisma/migrations/20260714193000_add_post_visibility/migration.sql
  packages/db/prisma/schema.prisma
  packages/db/src/index.ts
Due: none

feat(web): add review visibility API passthrough and toggle route
  apps/web/src/app/api/v1/reviews/[id]/route.ts
  apps/web/src/app/api/v1/reviews/[id]/visibility/route.ts
  apps/web/src/app/api/v1/reviews/route.ts
Due: none

feat(social): enforce review visibility and add setReviewVisibility
  packages/social/src/feeds/explore-feed.ts
  packages/social/src/feeds/home-feed.ts
  packages/social/src/feeds/profile-feed.ts
  packages/social/src/index.ts
  packages/social/src/posts/includes.ts
  packages/social/src/posts/queries.ts
  packages/social/src/reviews/index.ts
  packages/social/src/reviews/mutations.ts
  packages/social/src/reviews/queries.ts
  packages/social/src/types.ts
Due: social

feat(web): wire review visibility toggle in composer, feed, and detail
  apps/web/src/app/(authenticated)/feed/page.tsx
  apps/web/src/app/(authenticated)/reviews/new/_components/new-review-page-client.tsx
  apps/web/src/components/entity-reviews-page-client.tsx
  apps/web/src/components/post-detail-page-client.tsx
Due: none

feat(ui): add review visibility toggle and private indicators
  packages/scilent-ui/src/components/review/ReviewCard.tsx
  packages/scilent-ui/src/components/review/ReviewComposer.tsx
  packages/ui/src/components/social/post-card.tsx
Due: scilent-ui, ui

chore(changeset): add review visibility changeset
  .changeset/review-visibility-toggle.md
Due: none

test(social): update where-clause expectations for visibility filter
  packages/social/src/feeds/__tests__/home-feed.test.ts
  packages/social/src/feeds/__tests__/profile-feed.test.ts
  packages/social/src/posts/__tests__/queries.test.ts
Due: none

chore(cursor): add /pr command for opening pull requests
  .cursor/commands/pr.md
Due: none
